body {

background:url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX11225772.jpg");
Text-align:center;
color:white;}

img{width:588px;}
h1{font-family: 'Spicy Rice', cursive;}
h2{font-family: 'Righteous', cursive;}
p{font-family: 'Federant', cursive;}
p{font-size: 40px;}
p{color:white;}